<div class="container">

   <div class="card mt-5">
      <div class="card-body">
         <h5 class="card-title"><strong>Position: <%= @job.position %> </strong></h5>
         <h5 class="card-title"><strong>Company:  <%= @job.company %> </strong></h5>
         <p class="card-text">Kind_of: <%= @job.kind_of %></p>
         <p class="card-text">Salary: <<%= @job.salary %></p></p>
         <p class="card-text">Status : <%= @job.status %></p>
         <p class="card-text">Place : <%= @job.place %></p>
         <%= link_to 'Back', {:action => 'list'} %>
      </div>
   </div>

   
</div>